*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.width-100 {
    width: 100%;
    float: left;

}

.container {
    margin: 0px auto;

}

.top-header {
    background-color: #2196f3;
    padding: 5px 0px;
    border-bottom: 1px solid #3131315e;

}

.news-list {
    background-color: #fff;
    color: red;
    padding: 6px;
    font-size: 20px;
}

.headquote {
    font-size: 18px;
    color: #fff;
    width: 80%;
}

.header-menu {
    position: relative;
    box-shadow: 0px 2px 5px 0px #00000036;
    background-color: #fff;
}

.logo {
    width: fit-content;
    float: left;
}

.logo img {
    height: 70px;
}

.menu-bar {
    display: none;
    float: right;
    margin: 21px 15px 0px
}

.menu-bar i {
    font-size: 26px;
}

.main-menu {
    list-style: none;
    float: right;
    margin-top: 15px
}

.main-menu a {
    font-weight: 500;
    text-decoration: none;
    color: #3a3a3a;
    font-size: 20px
}

.main-menu li {
    float: left;
    padding: 12px 15px;

}
.login-signup{
    margin: -2px 15px;
    font-size: 20px;
    padding: 11px 12px;
    border-radius: 25px;
    color: #fff;
    background-color: #3991e7;
    border: none;
    font-family: "Open Sans","Open Sans-fallback";
    box-shadow: none;
}
.login-signup:hover{
    box-shadow: 5px 5px 2px 1px #cfcfcf;
    cursor: pointer;
    color:#d7d7d7
}

.established{
    padding:50px;
    margin:100px;
    width:500px;
    
    margin-left: 200px;
    line-height: 30px;
}


















/* MEDIA QUERIES FOR MOBILE */

@media screen and (max-width: 426px) {

.headquote {
    margin-top: 6px;
    float: right;
    width: 82%;
    font-size: 12px;
}


.news-list {
    padding: 6px 2px;
    font-size: 12px;
    width: 15%;
    display: inline-block;

}
.logo {
    width: 100%;
}

.logo img {
    height: 60px;
    width: 200px;
}
.main-menu{
margin-top:0px;
}
#min-ul{
background-color:#232f3e;
display: none;
border-radius: 5px;
}
.main-menu li {
   
width: 100%;
text-align: center;
padding: 2px 0px 2px 166px;
/* border-bottom: 2px solid #4b4848; */
background-color: darkgrey;
    
}
.main-menu li a{
    color: #fff;
font-weight: bold;
    background-color: #3a3a3a;
    display: block;
    width: 100%;
    padding: 4px 0px;
    font-size: 12px;
    border-radius: 179px 0px 0px 0px;

}
.menu-bar {
    float: right;
    margin: 21px 15px 0px;
    display: block;
}
.menu-bar i:checked{
    color:red
}
    .established{
    padding: 50px;
    margin: 0px;
    width: 100%;
    line-height: 23px;
}
}
